.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.header h2 {
  text-align: center;
  color: green;
}

.canvas-frame {
  margin: 20px;
  height: auto;
  width: 22rem;
  border: "1px solid black";
  margin-top: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-btn {
  padding: 25px;
  font-size: 20px;
  font-weight: 500;
}

.download-btn {
  margin-top: 20px;
  padding: 25px;
  font-size: 20px;
  color: green;
  font-weight: 600;
}
